sentence-transformers[train]>=2.7.0
torch>=2.0.0
transformers>=4.30.0
datasets>=2.14.0
accelerate>=0.21.0
scikit-learn
tqdm
pandas
numpy
deep-translator
elasticsearch>=8.0.0
pymongo
kagglehub
transliterate